body {
  background-color: #E0F4FF;
  color: #164863;
}

h1 {
  color: #87C4FF;
}

.container {
  display: flex;
  justify-content: center;
}

.image {
  border-radius: 15px;
}

.btn {
  background-color: #39A7FF;
  color: white;
  padding: 15px;
  border-radius: 15px;
  border:none;
  cursor: pointer;
}

